body{
    margin: 0;
    min-height: 100vh;

    background-color: #0d1a2d;


    display: flex;
    justify-content: center;
    align-items: center;

}
.card{
    background: #15273f;
    width: 90%;
    max-width: 300px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 0 5px;

}
.image{
    width: 100%;
    height: auto;
    display: block;
}

.title{
    color: white;
    margin-left: 20px;
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}
.description{
    color: #6f88a8;
    margin-left: 20px;
    font-family: 'Robot', sans-serif;
}
.card-info{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px 30px;
}
.price{
    display: flex;
}
.time{
    display: flex;
}
.time img{
    margin-right: 5px;
}
#currency{
    color: #3fc7c5;
    font-size: 16px;
    margin-left: 5px;
}
#days{
    color: #6f88a8;
    font-size: 16px;
}
.author{
    display: flex;
    gap: 10px;
    align-items: center;
    border-top: 2px solid hsl(215, 17%, 73%);
    margin: 10px 0 15px;
    padding: 20px 20px 0 20px;
}
.dp{
    height: 40px;
    width: 40px;
    border: 2px solid white;
    border-radius: 50%;
}
.author span{
    color: #6f88a8;
}
.author p{
    color: white;
    transition: color 0.3s ease;
}

.eye-icon{
    width: 48px;
    height: 48px;
}


.image-wrapper{
    position: relative;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.overlay{
    position: absolute;
    inset: 0;
    background: rgba(0, 255, 247, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-wrapper:hover .overlay{
    opacity: 1;
    cursor: pointer;
}



.title:hover{
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.name:hover{
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

@media (max-width: 400px){
  .description{
    font-size: 14px;
  }
  .title{
    font-size: 18px;
  }
}



